.padre-div {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
}

@media screen and (max-width: $pantalla-grande) {
    .padre-div {
    grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: $pantalla-mediana) {
    .padre-div {
    @include flex-column-center;
    }
}

.div-actividades {
    @include flex-column-center;
    padding: calc($separacion / 5);
}

.imagen-basquet {
    @include sizes (500px, 500px);
}

.imagen-basquet:hover {
    transform: scale(2);
}

.imagen-futbol {
    @include sizes (500px, 500px);
}

.imagen-futbol:hover {
    transform: scale(2);
}

.imagen-taekwondo {
    @include sizes (500px, 500px);
}

.imagen-taekwondo:hover {
    transform: scale(2);
}

.imagen-karate {
    @include sizes (500px, 500px);
}

.imagen-karate:hover {
    transform: scale(2);
}

.imagen-gimnasia {
    @include sizes (500px, 500px);
}

.imagen-gimnasia:hover {
    transform: scale(2);
}
