@media screen and (max-width: $pantalla-grande) {
    .footer {
        display: flex;
        flex-direction: column;
    }
}

.footer p{
    color: black;
}

.footer__div {
    display: inline;
    margin: calc($separacion - 2rem);
}

.footer__redes {
    display: inline;
}

.footer__div svg {
    @include sizes (50px, 50px);;
}

@media screen and (max-width:$pantalla-chica){
    .footer__div {
        @include flex-column-center;
        iframe {
            height: 200px;
            width: 300px;
        }
        .footer__redes {
            display: flex;
            flex-direction: row;
        }
        svg {
            width: 20px;
            height: 20px;
        }
    }
}

.footer__parrafo {
    display: inline;
    margin-top: $separacion;
    margin-right: calc($separacion * 2);
}

.redes-sociales {
    height: 4rem;
}

.mapa {
    height: 10rem;
}