@media screen and (max-width: $pantalla-grande) {
    .footer {
        display: flex;
        flex-direction: column;
    }
}

.footer p{
    color: black;
}

.footer__div {
    display: inline;
    margin: calc($separacion - 2rem);
}

.footer__div svg {
    @include sizes (50px, 50px);;
}

@media screen and (max-width:$pantalla-chica){
    .footer__div {
        @include flex-column-center
    }
}

.footer__parrafo {
    display: inline;
    margin-top: $separacion;
    margin-right: calc($separacion * 2);
}

.redes-sociales {
    height: 4rem;
}

.mapa {
    height: 10rem;
}