/*Variable para colores*/
$bg-body: linear-gradient(black, gray);
/*Variables fuentes*/
$fuente-grande: 4rem;
$fuente-chica: 2rem;
$fuente-titulos: 'Roboto', sans-serif;
$fuente-parrafos: 'Montserrat', sans-serif;

/*Tamaño Medias Queries*/
$pantalla-chica: 575px;
$pantalla-mediana: 767px;
$pantalla-grande: 992px;
$pantalla-lg: 1200px;